CLIENT_URL=http://localhost:3000
GOOGLE_CLIENT_ID=XXXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleXXXXXXXXXXXX.com
GOOGLE_CLIENT_SECRET=XXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXX
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=0000
DB_NAME=postgres
DB_PORT=5432
