@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
	font-family: "Roboto", sans-serif;
}

h1,
#interactions-top {
	text-align: center;
	padding-bottom: 1em;
}

div.main-content {
	margin: 6em 12em;
}

div.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	gap: 2em;
}

div.grid-90 {
	display: grid;
	grid-template-columns: 9fr 1fr;
	gap: 1em;
}

div.main-container {
	display: flex;
	flex-direction: column;
}

.displayBlock {
	display: block;
}

.width {
	width: 100%;
}

button {
	border: none;
	padding: 1em;
	border-radius: 0.5em;
	background-color: whitesmoke;
	cursor: pointer;
}

button.suggestion:hover,
button.interaction-selector:hover {
	background-color: lightgrey;
}

button.suggestion {
	display: block;
	width: 100%;
}

button.interaction-selector {
	border: 1px solid red;
	color: red;
	display: block;
	width: 100%;
}

button.selected-interaction {
	background-color: blue;
	border: none;
	color: white;
}

button.selected-interaction:hover {
	background-color: darkblue;
}

button.skip-button {
	background-color: gray;
	color: white;
	width: 100%;
}

button.skip-button:hover {
	background-color: darkgray;
}

button.submit {
	background-color: green;
	color: white;
	width: 100%;
	font-weight: bold;
}

input.suggestion-input {
	width: 100%;
	box-sizing: border-box;
	padding: 12px;
	border: 1px solid gray;
	border-radius: 3px;
	margin-bottom: 2em;
	display: block;
	font-size: 17px;
	line-height: 20px;
}

/* NAVBAR */

.navbar {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	background-color: #2f7f33;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0 1em;
	overflow: hidden;
}

.navbar li {
	float: left;
}

.navbar a {
	display: block;
	text-align: center;
	padding: 0 0.7em;
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	text-decoration: underline;
}

.logo {
	padding: 1em;
}

.navbar-title {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	color: white;
}

.user-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.avatar > img {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

/* LOADING */

.loading {
	width: 5%;
	height: 5%;
	animation: spin 1s linear infinite;
	margin: 1em 50%;
	animation-iteration-count: 3;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*  Admin  */

.admin-functions {
	border: 1px solid black;
	padding: 1em;
}

.file-upload {
	display: flex;
	flex-direction: column;
}

.file-upload button {
	margin-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	width: 60%;
}

/* Responsive Design */

@media screen and (max-width: 1200px) and (min-width: 800px) {
	div.main-content {
		margin: 4em;
	}
}

@media screen and (max-width: 800px) {
	div.grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 2em;
	}

	div.main-content {
		margin: 1em;
	}

	button.user-suggestion {
		padding-top: 2em;
		padding-bottom: 1em;
	}
}
