.center {
	text-align: center;
}
.margin {
	margin: 1em 12em;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2em;
}
button.displayBlock:hover {
	background-color: lightgrey;
}
.flex {
	display: flex;
	flex-direction: column;
}
.displayBlock {
	display: block;
}

.paddingBottom {
	padding-bottom: 1em;
}

.width {
	width: 100%;
}
button {
	border: none;
	padding: 1em;
	border-radius: .5em;
	background-color: whitesmoke;
	cursor: pointer;
}
.Next {
	background-color: gray;
	color: white;
}
.NoneSuggestions {
	border: 1px solid red;
	color: red;
	background-color: white;
}
.nextExportButton{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	

}
.nextExportButton button{
	background-color: gray;
	color: white;
}
