@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	font-family: 'Roboto', sans-serif;
}
.center {
	text-align: center;
}
.margin {
	margin: 6em 12em;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2em;
}
button.displayBlock:hover {
	background-color: lightgrey;
}
.flex {
	display: flex;
	flex-direction: column;
}
.displayBlock {
	display: block;
}

.blue-background:focus {
	background-color: blue;
	color: white;
}
.paddingBottom {
	padding-bottom: 1em;
}

.width {
	width: 100%;
}
button {
	border: none;
	padding: 1em;
	border-radius: 0.5em;
	background-color: whitesmoke;
	cursor: pointer;
}
.submit {
	background-color: blue;
	color: white;
	margin-left: 25%;
	width: 50%;
	font-weight: bold;
}

.flex-end {
	align-self: flex-end;
}

.Next {
	background-color: gray;
	color: white;
}
.NoneSuggestions {
	border: 1px solid red;
	color: red;
	background-color: white;
}
.nextExportButton {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nextExportButton button {
	background-color: gray;
	color: white;
}

.navbar {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	background-color: #2f7f33;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0 1em;
	overflow: hidden;
}

.navbar li {
	float: left;
}

.navbar a {
	display: block;
	text-align: center;
	padding: 0 0.7em;
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	text-decoration: underline;
}

.logo {
	padding: 1em;
}
.navbar-title {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	color: white;
}

.user-info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.avatar > img{
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
}

.controls{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;


.loading {
	width: 5%;
	height: 5%;
	animation: spin 1s linear infinite;
	margin: 1em 50%;
	animation-iteration-count: 3;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}

}
